<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.youniform.enquiry.mapper.EnquiryMapper">
 	<select id="selectEnquiryListByUserId" resultType="com.youniform.enquiry.domain.Enquiry">
 		SELECT
 			`id`
			,`userId`
			,`division`
			,`subject`
			,`description`
			,`answer`
			,`createdAt`
			,`updatedAt`
		FROM 	
			`enquiry`
		<if test="userId != 1">
		WHERE
			`userId` = #{userId}
		</if>
		ORDER BY
			`id`
		DESC
 	</select>
 	<select id="selectEnquiryListByDivisionAndUserId" resultType="com.youniform.enquiry.domain.Enquiry" parameterType="map">
 		SELECT
 			`id`
			,`userId`
			,`division`
			,`subject`
			,`description`
			,`answer`
			,`createdAt`
			,`updatedAt`
		FROM 	
			`enquiry`
		<where>
		<if test="division != ''">
			AND
			`division` = #{division}
		</if>
		<if test="userId != 1">
			AND
				`userId` = #{userId}
		</if>
		</where>
		ORDER BY
			`id`
		DESC
 	</select>
 	<select id="selectEnquiryById">
 		SELECT
 			`id`
			,`userId`
			,`division`
			,`subject`
			,`description`
			,`answer`
			,`createdAt`
			,`updatedAt`
		FROM 	
			`enquiry`
		WHERE
			`id` = #{id}
 	</select>
 	<insert id="insertEnquiry" parameterType="map" useGeneratedKeys="true">
 		INSERT INTO
 			`enquiry`
 		(
 			`userId`
			,`division`
			,`subject`
			,`description`
			,`createdAt`
			,`updatedAt`
 		) 
 			VALUE 
 		(
 			#{userId}
 			,#{division}
 			,#{subject}
 			,#{description}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	<update id="updateEnquiryByAnswerAndId" useGeneratedKeys="true">
 		UPDATE
 			`enquiry`
 		SET
 			`answer` = #{answer}
 			,`updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 	</update>
 	<delete id="deleteEnquiryById" >
 		DELETE FROM	
 			`enquiry`
 		WHERE
 			`id` = #{id}
 	</delete>
 	<select id="selectTotalItemsByDivision" resultType="int" parameterType="map">
 		SELECT
 			COUNT(*)
		FROM 	
			`enquiry`
		<where>
		<if test="division != ''">
			AND
			`division` = #{division}
		</if>
		<if test="userId != 1">
			AND
				`userId` = #{userId}
		</if>
		</where>
 	</select>
 </mapper>