<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.youniform.orderItem.mapper.OrderItemMapper">
 	<insert id="insertOrderItem" parameterType="map" useGeneratedKeys="true">
 		INSERT INTO 
 			`order_item`
 		(
 			`orderId`
 			,`uniformId`
 			,`createdAt`
 		) VALUE 
 		(
 			#{orderId}
 			,#{uniformId}
 			,NOW()
 		)
 	</insert>
 	<select id="selectOrderItemListByOrderId" resultType="com.youniform.orderItem.domain.OrderItem">
 		SELECT
 			`orderId`
 			,`uniformId`
 			,`createdAt`
 		FROM
 			`order_item`
 		WHERE
 			`orderId` = #{orderId}
 	</select>
 </mapper>