<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.youniform.order.mapper.OrderMapper">
 	<insert id="insertOrder" parameterType="map" useGeneratedKeys="true">
 		INSERT INTO 
 			`order`
 		(
 			`userId`
			,`orderNumber`
			,`payment`
			,`totalPrice`
			,`address`
			,`createdAt`
			,`updatedAt`
 		) VALUE 
 		(
 			#{userId}
 			,#{orderNumber}
 			,#{payment}
 			,#{totalPrice}
 			,#{address}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	<select id="selectOrderByOrderNumber" resultType="com.youniform.order.domain.Order">
 		SELECT
 			`id`
 			,`userId`
			,`orderNumber`
			,`payment`
			,`totalPrice`
			,`address`
			,`status`
			,`createdAt`
			,`updatedAt`
		FROM 
			`order`
		WHERE
			`orderNumber` = #{orderNumber}
 	</select>
 	<select id="selectOrderListByUserId" resultType="com.youniform.order.domain.Order">
 		SELECT
 			`id`
 			,`userId`
			,`orderNumber`
			,`payment`
			,`totalPrice`
			,`address`
			,`status`
			,`createdAt`
			,`updatedAt`
		FROM 
			`order`
		<if test="userId != 1">
		WHERE
			`userId` = #{userId}
		</if>
		ORDER BY
			`id`
		DESC
 	</select>
 	<delete id="deleteOrderByOrderId">
 		DELETE FROM
 			`order`
 		WHERE
 			`id` = #{orderId}
 	</delete>
 </mapper>