<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.youniform.uniform.mapper.UniformMapper">
 	<select id="selectUniformList" resultType="com.youniform.uniform.domain.Uniform">
 		SELECT
 			`id`
			,`userId`
			,`league`
			,`subject`
			,`description`
			,`image`
			,`price`
			,`status`
			,`confirm`
			,`createdAt`
			,`updatedAt`
		FROM
			`uniform`
		WHERE
			`confirm` = 'Y'
		ORDER BY
			`id`
		DESC
 	</select>
 	<select id="selectUniformById" resultType="com.youniform.uniform.domain.Uniform">
 		SELECT
 			`id`
			,`userId`
			,`league`
			,`subject`
			,`description`
			,`image`
			,`price`
			,`status`
			,`confirm`
			,`createdAt`
			,`updatedAt`
		FROM
			`uniform`
		WHERE
			`id` = #{id}
 	</select>
 	<delete id="deleteUniformById">
 		DELETE FROM
 			`uniform`
 		WHERE
 			`id` = #{id}
 	</delete>
 	<insert id="insertUniform" parameterType="map" useGeneratedKeys="true">
 		INSERT INTO
 			`uniform`
 		(
 			`userId`
			,`league`
			,`subject`
			,`description`
			,`image`
			,`price`
			,`status`
			,`confirm`
			,`createdAt`
			,`updatedAt`	
 		) 
 		VALUE
 		(
 			#{userId}
 			,#{league}
 			,#{subject}
 			,#{description}
 			,#{image}
 			,#{price}
 			,#{status}
 			,#{confirm}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	<select id="selectUniformRequestList" resultType="com.youniform.uniform.domain.Uniform">
 		SELECT
 			`id`
			,`userId`
			,`league`
			,`subject`
			,`description`
			,`image`
			,`price`
			,`status`
			,`confirm`
			,`createdAt`
			,`updatedAt`
		FROM
			`uniform`
		WHERE
			`confirm` = 'N'
		ORDER BY
			`id`
		DESC
 	</select>
 	<update id="updateUniformById">
 		UPDATE
 			`uniform`
 		SET
 			`league` = #{league}
 			,`subject` = #{subject}
 			,`description` = #{description}
 			,`price` = #{price}
 			,`status` = #{status}
 			,`confirm` = #{confirm}
 			,`updatedAt` = NOW()
 		WHERE
 			`id` = #{id}
 	</update>
 	<select id="selectUniformListByLeague">
 		SELECT
 			`id`
			,`userId`
			,`league`
			,`subject`
			,`description`
			,`image`
			,`price`
			,`status`
			,`confirm`
			,`createdAt`
			,`updatedAt`
		FROM
			`uniform`
		WHERE
			`confirm` = 'Y'
		AND
			`league` = #{league}
		ORDER BY
			`id`
		DESC
 	</select>
 </mapper>