@charset "UTF-8";
header {
	height: 100px;
}
.top-nav {
	width: 130px;
	text-align: center;
	background-color: #66A745;
}
.top-nav:hover {
	background-color: #77B856;
}
.contents {
	min-height: 500px;
}
.left-side {
	width: 165px;
}
.home {
	width: 780px;
}
.right-side {
	width: 165px;
}
.side-nav {
	width: 120px;
	text-align: center;
	background-color: #5E5E5E;
}
.side-nav:hover {
	background-color: #6E6E6E;
}
.fixed_box {
  	position:fixed;
}
footer {
	height: 100px;
}