@charset "UTF-8";
header {
	height: 100px;
}
.top-nav {
	width: 130px;
	text-align: center;
	background-color: #66A745;
}
.top-nav:hover {
	background-color: #77B856;
}
.contents {
	min-height: 500px;
}
.left-side {
	width: 165px;
}
.home {
	width: 780px;
}
.uniformBox {
	width: 130px;
	display: flex;
	justify-content: center;
}
.itemLink {
	text-decoration: none;
	color: black;
}
.subjectText {
	font-size: 12px;
	width: 110px;
	text-align: center;
}
.detailSubjectText {
	font-size: 20px;
}
.detailPriceText {
	font-size: 18px;
}
.descriptionText {
	font-size: 16px;
}
.priceText {
	font-size: 10px;
	text-align: center;
}
.right-side {
	width: 165px;
}
.side-nav {
	width: 120px;
	text-align: center;
	background-color: #5E5E5E;
}
.side-nav:hover {
	background-color: #6E6E6E;
}
.fixed_box {
  	position:fixed;
}
footer {
	height: 100px;
}
#imgBtn {
	border: none;
	background: transparent;
}